<li>
    <div class="flex space-x-3">
        <div class="flex-shrink-0">
            <% if comment.user.avatar.attached? %>
                <%= image_tag comment.user.avatar.variant(resize_to_limit: [100, 100], format: :jpeg, sampling_factor: "4:2:0", strip: true, interlace: "JPEG", colorspace: "sRGB", quality: 100), class: 'w-10 h-10 rounded-full ' %>
            <% else %>
                <img class="w-10 h-10 rounded-full" src="https://ui-avatars.com/api/?name=<%= comment.user.name %>;color=7F9CF5&amp;background=EBF4FF" alt="USER">
            <% end %>
        </div>
    <div>
    <div class="text-sm">
        <%= link_to profile_path(comment.user.slug), data: { turbo: false } do %>
            <p class="font-medium text-gray-900"><%= comment.user.name %><p>
        <% end %>
    </div>
    <div class="mt-1 text-sm text-gray-700">
    <div class="gap-2">
        <p><%= comment.body %></p>
        <% if comment.feedback_type != nil %>
        <%= image_tag("/cards/#{comment.feedback_type.type_name}_1.png", class: 'w-24 filter shadow-md') %>
        <% end %>
    </div>
    </div>
    <div class="mt-2 space-x-2 flex flex-grid text-sm">
        <span class="font-medium text-gray-500"><%= comment.created_at.to_date %></span>
        <% if current_user == comment.user %>
              <span class="font-medium text-gray-500 hover:text-red-500 "> <%= link_to "Delete", delete_comment_path(comment.id), method: :delete %></span>
        <% else  %>
        <% if !comment.upvoted?(current_user) %>
          <turbo-frame id="upvote">
            <%= button_to upvote_path(comment), method: "put" do %>
              <span class="font-medium text-gray-500 hover:text-blue-500 ">Upvote</span>
            <% end %>
          </turbo-frame>
        <% end  %>
      <% end %>
    </div>
</li>
