<div class="flex flex-col overflow-hidden rounded-md shadow-md">
    <% if post.cover_image.attached? %>
      <div class="flex-shrink-0">
            <img class="object-cover w-full h-48" src="<%=  get_cover(post)  %>" alt="">
      </div>
    <% end %>
    <div class="flex flex-col justify-between flex-1 p-6 bg-white dark:bg-mine-shaft-500">
        <div class="flex-1">
          <a href="#" class="block">
            <p class="text-xl font-semibold text-gray-900 dark:text-gray-300">
              <%= link_to post_path(post.slug), data: { turbo: false } do %>
                <%= post.title %>
              <% end %>
            </p>
          </a>
        </div>
        <div class="flex items-center mt-6">
          <div class="flex-shrink-0">
            <a href="#">
              <span class="sr-only"><%= post.user.name %></span>
              <img class="w-10 h-10 rounded-full" src="<%= get_avatar(post) %>" alt="">
            </a>
          </div>
          <div class="ml-3">
            <p class="text-sm font-medium text-gray-900 dark:text-gray-300">
              <a href="#" class="hover:underline">
                <%= post.user.name %>
              </a>
            </p>
            <div class="flex space-x-1 text-sm text-gray-400">
              <time datetime="<%= post.created_at %>">
                <%= post.created_at.to_date %>
              </time>
            </div>
          </div>
        </div>
    </div>
</div>
