<aside class="py-6 lg:col-span-2">
    <nav class="space-y-1">
        <%= link_to edit_user_registration_path do %>
        <span class="flex items-center px-3 py-2 text-sm font-medium border-l-4 hover:bg-gray-50 hover:text-gray-700 <%= current_page?(edit_user_registration_path) ? 'border-gray-500 bg-gray-50 group text-gray-700' : 'border-transparent group text-gray-500' %>" aria-current="page">
            <svg class="flex-shrink-0 w-6 h-6 mr-3 -ml-1 group-hover:text-gray-500 <%= current_page?(edit_user_registration_path) ? 'text-gray-700' : 'text-gray-400' %>" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span class="truncate">
                Profile
            </span>
        </span>
        <% end %>

        <%= link_to profile_posts_path do %>
        <span class="flex items-center px-3 py-2 text-sm font-medium border-l-4 hover:bg-gray-50 hover:text-gray-700 <%= current_page?(profile_posts_path) ? 'border-gray-500 bg-gray-50 group text-gray-700' : 'border-transparent group text-gray-500' %>" aria-current="page">
            <svg class="flex-shrink-0 w-6 h-6 mr-3 -ml-1 group-hover:text-gray-500 <%= current_page?(profile_posts_path) ? 'text-gray-700' : 'text-gray-400' %>" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 14v6m-3-3h6M6 10h2a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2zm10 0h2a2 2 0 002-2V6a2 2 0 00-2-2h-2a2 2 0 00-2 2v2a2 2 0 002 2zM6 20h2a2 2 0 002-2v-2a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2z" />
            </svg>
            <span class="truncate">
                Posts
            </span>
        </span>
        <% end %>

        <%= link_to profile_likes_path do %>
        <span class="flex items-center px-3 py-2 text-sm font-medium border-l-4 hover:bg-gray-50 hover:text-gray-700 <%= current_page?(profile_likes_path) ? 'border-gray-500 bg-gray-50 group text-gray-700' : 'border-transparent group text-gray-500' %>" aria-current="page">
            <svg class="flex-shrink-0 w-6 h-6 mr-3 -ml-1 group-hover:text-gray-500 <%= current_page?(profile_likes_path) ? 'text-gray-700' : 'text-gray-400' %>" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 17" stroke="currentColor" aria-hidden="true">
                <path
                    fill-rule="evenodd"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M1.39314 8.182C0.498973 5.52992 1.54397 2.49863 4.47481 1.60167C6.01647 1.12905 7.71814 2.30626 8.99981 3.22222C10.2123 2.33159 11.9765 1.13221 13.5165 1.60167C16.4473 2.49863 17.499 5.52992 16.6056 8.182C15.214 12.3858 8.99981 15.6237 8.99981 15.6237C8.99981 15.6237 2.83147 12.4348 1.39314 8.182Z"
                    clip-rule="evenodd"
                />
            </svg>
            <span class="truncate">
                Likes
            </span>
        </span>
        <% end %>
    </nav>
</aside>
