<div class="bg-white rounded-md shadow-sm">
<%= link_to post_path(post.slug), data: { turbo: false } do %>
    <div>
    <% if post.cover_image.attached? %>
        <%= image_tag post.cover_image.variant(resize_to_limit: [800, 400]).processed, class: 'block w-full h-72 object-cover rounded-t-md' %>
    <% end %>
    </div>
    <header class="flex p-2 md:p-4">
    <div>
        <% if post.highlight == true %>
              <?xml version="1.0" encoding="UTF-8"?>
              <svg class="w-5 h-5 ml-2 -mr-1" version="1.1" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
              <defs>
              <linearGradient id="a" x1="5" x2="55" y1="992.36" y2="1042.4" gradientUnits="userSpaceOnUse">
              <stop stop-color="#fea" offset="0"/>
              <stop stop-color="#fc0" offset="1"/>
              </linearGradient>
              </defs>
              <g transform="translate(0 -988.36)">
              <g transform="translate(0,4e-5)">
              <path transform="translate(0 988.36)" d="m29 3 7 20h3l-5-15-5-5zm-28 20 5 5 18 13-5-5-18-13zm57 0-18 13 6 20-17-12-16.906 12.031 4.906 4.969 17-12 17 12-6-20 18-13-5-5z" fill="#a0892c"/>
              <path d="m23 1011.4h-22l18 13-7 20 17-12 17 12-6-20 18-13h-22l-7-20-6 20z" fill="url(#a)"/>
              </g>
              </g>
              </svg>
        <% end %>
        <h2 class="text-2xl font-bold hover:underline"><%= link_to post.title, post_path(post.slug),  data: { turbo: false } %></h2>
        <div class="flex items-center mt-8">
        <% if post.user.avatar.attached? %>
            <%= image_tag post.user.avatar.variant(resize_to_limit: [100, 100], format: :jpeg, sampling_factor: "4:2:0", strip: true, interlace: "JPEG", colorspace: "sRGB", quality: 100), class: 'inline w-8 h-8 mr-2 rounded-full' %>
        <% end %>
        <p class="ml-1 text-gray-900 text-md dark:text-gray-300">
        <%= link_to profile_path(post.user.slug), data: { turbo: false } do %>
            <%= post.user.name %>
        <% end %>
        </p>
        </div>
    </header>
    <% if post.tags.present? %>
        <div class="bottom-0 flex justify-between p-2 pt-2 mb-3 space-x-8 md:px-4">
            <div class="flex space-x-2">
                <% post.tags.each do |tag| %>
                <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-gray-100 hover:bg-gray-200 hover:text-gray-600 text-gray-400">
                    <%= link_to tag.name, "/posts/list/#{tag.slug}" %>
                </span>
            <% end %>
            </div>
        </div>
    <% end %>
<% end %>
</div>
