<div class="bg-white rounded-md">
<%= link_to post_path(post.slug), data: { turbo: false } do %>
    <div>
    <% if post.cover_image.attached? %>
        <%= image_tag post.cover_image.variant(resize_to_limit: [800, 400]).processed, class: 'block w-full h-72 object-cover rounded-t-md' %>
    <% end %>
    </div>
    <header class="flex p-2 md:p-4">
<<<<<<< HEAD
        <div>
            <h2 class="text-2xl font-bold hover:underline"><%= link_to post.title, post_path(post.slug),  data: { turbo: false } %></h2>
            <div class="flex items-center mt-8">
                <% if post.user.avatar.attached? %>
                    <%= image_tag post.user.avatar.variant(resize_to_limit: [100, 100], format: :jpeg, sampling_factor: "4:2:0", strip: true, interlace: "JPEG", colorspace: "sRGB", quality: 100), class: 'inline w-8 h-8 mr-2 rounded-full' %>
                <% end %>
                <p class="ml-1 text-gray-900 text-md dark:text-gray-300">
                    <%= post.user.name %>
                </p>
            </div>
=======
    <div>
        <h2 class="text-2xl font-bold hover:underline"><%= link_to post.title, post_path(post.slug),  data: { turbo: false } %></h2>
        <div class="flex items-center mt-8">
        <% if post.user.avatar.attached? %>
            <%= image_tag post.user.avatar.variant(resize_to_limit: [100, 100], format: :jpeg, sampling_factor: "4:2:0", strip: true, interlace: "JPEG", colorspace: "sRGB", quality: 100), class: 'inline w-8 h-8 mr-2 rounded-full' %>
        <% end %>
        <p class="ml-1 text-gray-900 text-md dark:text-gray-300">
            <%= post.user.name %>
        </p>
>>>>>>> 1bb49791bddc39112611eec550c7140019d63b51
        </div>
    </header>
    <% if post.tags.present? %>
        <div class="bottom-0 flex justify-between p-2 pt-2 mb-3 space-x-8 md:px-4">
            <div class="flex space-x-2">
                <% post.tags.each do |tag| %>
                <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-gray-100 text-gray-400">
                    <%= link_to tag.name, "/posts/list/#{tag.slug}" %>
                </span>
            <% end %>
            </div>
        </div>
    <% end %>
<% end %>
</div>
