<h1 class="font-bold">Listing all posts
<% if params[:tag] %>
      <%= params[:tag] %>
<% end %>
</h1>

<div class="bg-gray-50">
<h2 class="font-bold"> Browse by tag</h2>
<% if @tags %>
  <ul>
  <% @tags.each do |tag| %>
    <li>
    <%= link_to tag.name, "/posts/list/#{tag.name}" %>
    </li>
  <% end %>
  </ul>
<% end %>
</div>

<div class="my-2 bg-gray-100">
<h2 class="font-bold"> Filter by multiple tags </h2>
<%= form_with model: @post, url: filter_posts_path do |form|  %>
 <%= form.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
  <%= form.submit %>
<% end %>
</div>

<% if @posts %>
  <div class="grid grid-cols-3 gap-4">
  <% @posts.each do |post| %>
  <div class="bg-white rounded-md shadow-md">
    <div>
      <% if post.images.attached? %>
        <% post.images.each do |image| %>
          <%= link_to gallery_view_path do %>
            <%= image_tag image.variant(resize_to_limit: [800, 400]).processed %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <header class="flex p-2 md:p-4">
      <div>
        <h2 class="text-2xl font-bold hover:underline"><%= link_to post.title, "/posts/#{post.slug}" %></h2>
      </div>
    </header>
    <% if post.tags.present? %>
      <div class="bottom-0 flex justify-between p-2 pb-4 space-x-8 md:px-4">
        <div class="flex space-x-2">
          <% post.tags.each do |tag| %>
            <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-gray-100 text-gray-400">
              <%= link_to tag.name, "/posts/list/#{tag.name}" %>
            </span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
<% else %>
  <h1> No posts found... </h1>
<% end %>

<style>
.post{
  padding:10px;
  border: 1px solid grey;
  margin:10px;
  float:left;
  width: 400px;
}
</style>
