<%= form_with model: @post, url: posts_path do |form|  %>
  <%= form.text_field :title, placeholder: 'The title', class: 'text-4xl bg-transparent border-none w-full' %>
  <div class="flex flex-row p-4">
    <%= form.collection_check_boxes :tag_ids, Tag.all, :id, :name do |b| %>
      <div class="flex items-center">
        <%= b.check_box class: 'h-4 w-4 text-gray-600 focus:ring-gray-500 border-gray-300 rounded' %>
        <label for="filter-category-0" class="pr-6 ml-3 text-sm font-medium text-gray-900 whitespace-nowrap">
          <%= b.label %>
        </label>
      </div>
    <% end %>
  </div>
  <div class="px-4 py-4">
    <%= form.rich_text_area :body %>
  </div>
  <div class="flex flex-col flex-grow p-4">
    <div x-data="{ files: null }" id="FileUpload" class="relative block w-full px-3 py-2 border-2 border-gray-300 border-dashed rounded-md appearance-none hover:shadow-outline-gray">
        <div
          x-on:change="files = $event.target.files; console.log($event.target.files);"
          x-on:dragover="$el.classList.add('active')"
          x-on:dragleave="$el.classList.remove('active')"
          x-on:drop="$el.classList.remove('active')"
        >
          <%= form.file_field :cover_image, name: "cover_image", id: 'cover_image', class: 'absolute inset-0 z-50 w-full h-full p-0 m-0 outline-none opacity-0' %>
        </div>
        <template x-if="files !== null">
          <div class="flex flex-col space-y-1">
            <template x-for="(_,index) in Array.from({ length: files.length })">
              <div class="flex flex-row items-center space-x-2">
                <template x-if="files[index].type.includes('audio/')"><i class="far fa-file-audio fa-fw"></i></template>
                  <template x-if="files[index].type.includes('application/')"><i class="far fa-file-alt fa-fw"></i></template>
                  <template x-if="files[index].type.includes('image/')"><i class="far fa-file-image fa-fw"></i></template>
                  <template x-if="files[index].type.includes('video/')"><i class="far fa-file-video fa-fw"></i></template>
                  <span class="font-medium text-gray-900" x-text="files[index].name">Uploading</span>
                  <span class="self-end text-xs text-gray-500" x-text="filesize(files[index].size)">...</span>
                </div>
              </template>
          </div>
      </template>
      <template x-if="files === null">
        <div class="flex flex-col items-center justify-center space-y-2">
          <svg class="w-12 h-12 mx-auto text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
            <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <a href="javascript:void(0)" class="flex items-center px-4 py-2 mx-auto font-medium text-center text-gray-700">Drag your files here or click in this area or  <span class="ml-1 underline"> select a file</span></a></p>
        </div>
      </template>
    </div>
  </div>
  <div class="p-4">
    <%= form.submit 'Submit',
        class: '
          inline-flex
          justify-center
          py-2
          px-4
          border-none
          shadow-sm
          text-sm
          w-full
          font-medium
          rounded-md
          text-white
          bg-gray-900
          hover:bg-gray-700
          focus:outline-none
          focus:ring-2
          focus:ring-offset-2
          focus:ring-indigo-500'
        %>
    <% end %>
  </div>
</div>
