<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render partial: "layouts/partials/media" %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <script src="//cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

      <title>PlayCMD | <%= @post.title %></title>
    <meta property="og:title" content="<%= @post.title %>">
    <meta property="og:url" content="https://play.cmdlwd.nl/post/<%= @post.slug %>/public">
    <meta property="og:image" content="<%= @image %>">
    <meta property="og:image:alt" content="<%= @post.title %>">
    <meta property="og:site_name" content="PlayCMD">
    <meta name="twitter:card" content="summary_large_image">
  </head>

  <body class="overflow-hidden bg-background dark:darkBackground" x-data="{secretModal: 0}">
    <div class="">
      <div class="flex h-screen bg-gray-100" x-data="{ open: false }">

      <%# Navigation %>
      <div class="flex flex-col w-full mb-4">
        <%# Header %>
        <div class="relative bg-gray-900">
          <div class="px-3 py-3 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="pr-16 sm:text-center sm:px-16">
              <p class="font-medium text-white">
                <span class="md:hidden">
                  Hi 👋 You're looking at this post as a guest
                </span>
                <span class="hidden md:inline">
                  Hi 👋 You're looking at this post as a guest
                </span>
                <span class="block sm:ml-2 sm:inline-block">
                  <%= link_to new_user_session_path, class: 'font-bold text-white underline' do %>
                  Sign in <span aria-hidden="true">&rarr;</span>
                  <% end %>
                </span>
              </p>
            </div>
          </div>
        </div>

        <div class="flex flex-col px-6 mt-4 overflow-y-auto md:px-8">
          <%# Page content %>
          <main class="flex-1 px-6 mt-8 md:px-10 focus:outline-none">
            <div class="mx-auto md:flex md:items-center md:justify-between">
                <div class="flex items-center">
                  <div>
                    <h1 class="text-2xl font-bold text-gray-900">
                      <%= @post.title %>
                    </h1>
                    <% if @post.tags.present? %>
                      <p class="text-sm font-medium text-gray-500">Tags:
                        <% @post.tags.each do |tag| %>
                          <%= tag.name %>
                        <% end %>
                      </p>
                    <% end %>
                  </div>
                </div>
              </div>

              <div class="grid grid-cols-1 gap-6 mx-auto mt-8 lg:grid-flow-col-dense lg:grid-cols-3">
                <div class="space-y-6 lg:col-start-1 lg:col-span-2">
                  <!-- Post body -->
                  <section aria-labelledby="post-content">
                    <div class="p-4 bg-white shadow sm:rounded-lg">
                      <%= @post.body %>
                    </div>
                  </section>
                </div>

                <section aria-labelledby="Post details" class="lg:col-start-3 lg:col-span-1">
                  <%= render partial: "posts/partials/author" %>
                </section>
              </div>
      </main>

          <%# Footer this is here because of overflow issues :facepalm: %>
          <%= render partial: "layouts/partials/footer" %>
        </div>
      </div>
    </div>
  </body>
</html>
