<h1><%= @post.title %></h1>

<%= link_to "Back", :back %>

<% if @post.images.attached? %>
  <% @post.images.each do |image| %>
    <%= link_to gallery_view_path do %>
      <%= image_tag image.variant(resize_to_limit: [800, 400]).processed %>
    <% end %>
  <% end %>
<% end %>

<% if @post.tags.present? %>
  <% @post.tags.each do |tag| %>
    <%= tag.name %>
  <% end %>
<% end %>

