<h1><%= @post.title %></h1>
<% if notice == 'Bericht aangemaakt' %>
  <script>
  window.onload = function () {
    modes.fireworks();
  };
  </script>
<% end %>
<%= link_to "Back", posts_path %>

<% if @post.images.attached? %>
  <% @post.images.each do |image| %>
    <%= link_to gallery_view_path do %>
      <%= image_tag image.variant(resize_to_limit: [800, 400]).processed %>
    <% end %>
  <% end %>
<% end %>

<% if @post.tags.present? %>
  <% @post.tags.each do |tag| %>
    <%= tag.name %>
  <% end %>
<% end %>

<% if @post.liked?(current_user) %>
  <h1> <%= @post.likes.length %> </h1>
  <%= button_to "You liked this, and we like you", like_path(@post), method: "put", disabled: true %>
<% else %>
  <%= button_to "Like", like_path(@post), method: "put" %>
    <% if @post.likes.count > 0 %>
    <span> <%= @post.likes.count %> </span>
    <% end %>
<% end %>

<h3> Comments </h3>

<% if @post.comments %>
    <% @post.comments.each do |comment| %>
    <%= comment.body %>
    <%= comment.user.id %>
  <% end %>
<% end %>

<%= form_with model: @comment, url: new_comment_path(@post.id) do |form|  %>
  <%= form.label :body, "Comment: " %>
  <%= form.text_field :body %>
  <%= form.submit %>
<% end %>
