<% if notice == 'Post aangemaakt' %>
  <script>
      window.onload = function () {
          modes.fireworks();
      };
  </script>
<% end %>

<style>
trix-toolbar [data-trix-button-group='history-tools'],
trix-toolbar [data-trix-button-group='block-tools'] {
  display: none;
}
</style>

<div>
  <div class="flex justify-between w-full">
    <div class="flex items-center py-2">
      <%# Image %>
      <div class=" text-darkBackground dark:text-gray-400">
        <h3 class="text-xl"><%= @post.user.name %></h3>
        <% if is_teacher(@post.user) %>
          <p>Teacher</p>
        <% else %>
          <p>Student</p>
        <% end %>
      </div>
    </div>
    <div class="self-center">

      <% if is_teacher(current_user) && is_your_field(current_user, @post) %>
         <turbo-frame id="highlight">
            <% if @post.highlight == 1 %>
              <?xml version="1.0" encoding="UTF-8"?>
              <svg class="w-5 h-5 ml-2 -mr-1" version="1.1" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
              <defs>
              <linearGradient id="a" x1="5" x2="55" y1="992.36" y2="1042.4" gradientUnits="userSpaceOnUse">
              <stop stop-color="#fea" offset="0"/>
              <stop stop-color="#fc0" offset="1"/>
              </linearGradient>
              </defs>
              <g transform="translate(0 -988.36)">
              <g transform="translate(0,4e-5)">
              <path transform="translate(0 988.36)" d="m29 3 7 20h3l-5-15-5-5zm-28 20 5 5 18 13-5-5-18-13zm57 0-18 13 6 20-17-12-16.906 12.031 4.906 4.969 17-12 17 12-6-20 18-13-5-5z" fill="#a0892c"/>
              <path d="m23 1011.4h-22l18 13-7 20 17-12 17 12-6-20 18-13h-22l-7-20-6 20z" fill="url(#a)"/>
              </g>
              </g>
              </svg>
            <% else %>
              <%= button_to highlight_path(@post), method: "put", class: 'bg-white text-gray-800 rounded-lg inline-flex p-3' do %>
                  Giant Highlight button
              <% end %>
            <% end %>
         </turbo-frame>
      <% end %>


      <turbo-frame id="like">
        <div class="flex items-center">
            <div class="inline-flex">
              <% if is_your_post(@post) %>
              <div class="relative inline-block text-left" x-data="{ dropdownOpen: false }">
                <div>
                  <button type="button" @click="dropdownOpen = !dropdownOpen" class="inline-flex justify-center w-full px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500" id="menu-button" aria-expanded="true" aria-haspopup="true">
                    Options
                    <svg class="w-5 h-5 ml-2 -mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                  </button>
                </div>
                <div
                  x-show="dropdownOpen"
                  x-transition:enter="transition ease-out duration-100"
                  x-transition:enter-start="transform opacity-0 scale-95"
                  x-transition:enter-end="transform opacity-100 scale-100"
                  x-transition:leave="transition ease-in duration-75"
                  x-transition:leave-start="transform opacity-100 scale-100"
                  x-transition:leave-end="transform opacity-0 scale-95"
                  @click.away="dropdownOpen = false"
                  class="absolute right-0 w-56 mt-2 origin-top-right bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                  role="menu"
                  aria-orientation="vertical"
                  aria-labelledby="menu-button"
                  tabindex="-1"
                >
                  <div class="py-1" role="none">
                    <%= link_to 'Edit post', edit_post_path(@post.slug), data: {turbo: false }, class: 'text-gray-700 block px-4 py-2 text-sm' %>
                    <%= link_to 'Delete post', post_path(@post.slug), method: :delete, data: {turbo: false, confirm: 'Are you sure?'}, class: 'text-gray-700 block px-4 py-2 text-sm' %>
                  </div>
                </div>
              </div>
              <% else %>
              <% if @post.liked?(current_user) %>
                <%= button_to like_path(@post), method: "put", disabled: true, class: 'bg-white text-red-600 rounded-lg inline-flex p-3' do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                  </svg>
                <% end %>
              <% else %>
                <%= button_to like_path(@post), method: "put", class: 'bg-white text-gray-800 rounded-lg inline-flex p-3' do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                  </svg>
                <% end %>
              <% end %>
              <% end %>
            </div>
            <% if @post.likes.count > 0 %>
              <div class="flex-1 min-w-0">
                <% if is_your_post(@post) %>
                  <%= render partial: "your_likes", object: @post %>
                <% end %>
              </div>
            <% end %>
      </div>
      </turbo-frame>
    </div>
  </div>
  <h1 class="mb-4 text-2xl font-semibold text-black dark:text-white mt-9">
    <%= @post.title %>
  </h1>

  <div class="grid items-start grid-cols-1 gap-4 mb-8 lg:grid-cols-3">
    <div class="grid grid-cols-1 gap-4 lg:col-span-2">
      <div class="w-full bg-white rounded-md">
        <div class="px-4 py-4 prose">
          <%= @post.body%>
        </div>
      </div>
      <div class="flex w-full gap-4">
        <div class="flex-auto px-4 py-2 bg-white rounded-md">
          <div class="flex items-center">
            <% if @post.user.avatar.attached? %>
              <%= image_tag @post.user.avatar.variant(resize_to_limit: [100, 100], format: :jpeg, sampling_factor: "4:2:0", strip: true, interlace: "JPEG", colorspace: "sRGB", quality: 100), class: 'inline w-8 h-8 mr-2 rounded-full' %>
            <% end %>
            <div class="">
              <h3><%= @post.user.name %></h3>
              <p class="text-sm text-gray-400"><%= @post.user.email %></p>
            </div>
          </div>
          <% if @post.user.tags.present? %>
            <div class="py-4">
              <h4 class="text-gray-800">Creative fields</h4>
              <div class="flex justify-between mt-1">
                <div class="flex space-x-2">
                  <% @post.user.tags.each do |tag| %>
                    <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-gray-100 text-gray-400">
                      <%= tag.name %>
                    </span>
                  <% end %>
                </div>
              </div>
            </div>
            </div>
          <% end %>
          <div class="flex-auto px-4 py-2 bg-white rounded-md">
            <h2 class="font-semibold">Tools</h2>
            <% if @post.tags.present? %>
              <% @post.tags.each do |tag| %>
                <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-gray-100 text-gray-400">
                <%= tag.name %>
                </span>
              <% end %>
            <% end %>
          </div>
        </div>
    </div>
    <section class="grid grid-cols-1 gap-4">
      <div>
        <div class="">
          <turbo-frame id="comments">
          <ul class="space-y-4">
            <% if @post.comments %>
              <% @post.comments.each do |comment| %>
                <div class="px-2 py-3 text-black bg-white rounded-md">
                  <div class="flex space-x-3">
                    <div class="flex-1">
                      <p class="text-gray-700 text-md">
                        <%= comment.body %>
                      </p>
                    </div>
                  </div>
                  <div class="py-1 mt-4 border-t border-1">
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="flex items-center">
                        <%# <div class="flex-shrink-0 w-10 h-10">
                          <%# Image here %>
                        <%# </div> %>
                        <div class="py-2">
                          <div class="text-sm font-medium text-gray-900">
                            <%= comment.user.name %>
                          </div>
                          <div class="text-sm text-gray-500">
                            <%= comment.created_at.to_date %>
                          </div>
                        </div>
                      </div>
                    </td>
                  </div>
                </div>
              <% end %>
            <% end %>
            <div class="bg-white rounded-md">
              <%= form_with model: @comment, url: new_comment_path(@post.id) do |form| %>
                <div class="flex px-4 py-5 space-x-3">
                  <div class="flex-grow">

                    <%= form.rich_text_area :body, rows: 3, placeholder: 'Wat vind je er van', data: { controller: "mentions", target: "mentions.field" } ,
                    class: 'shadow-sm focus:ring-gray-500 focus:border-gray-500 block w-full sm:text-sm border-none rounded-md bg-gray-100 resize-none' %>
                  </div>
                </div>
                <div class="flex flex-row-reverse w-full px-4 pb-4">
                    <%= form.submit nil, class: 'inline-flex items-center px-7 py-2 border border-transparent text-sm rounded-md shadow-sm text-white bg-gray-800 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-700' %>
                </div>
              <% end %>
            </div>
          </ul>
          <% if notice == 'comment aangemaakt' %>
            <script>
              modes.fireworks();
            </script>
          <% end %>
          </turbo-frame>
        </div>
      </div>
    </section>
  </div>
</div>
