<% if notice == 'Post aangemaakt' %>
  <script>
      window.onload = function () {
          modes.fireworks();
      };
  </script>
<% end %>
<%#= link_to "Back", posts_path %>

<div>
  <div class="flex justify-between w-full">
    <div class="flex items-center py-2">
      <%# Image %>
      <div class=" text-darkBackground dark:text-gray-400">
        <h3 class="text-xl"><%= @post.user.name %></h3>
        <p>Developer</p>
      </div>
    </div>
    <div class="self-center">
      <turbo-frame id="like">
      <% if @post.liked?(current_user) %>
        <%= button_to like_path(@post), method: "put", disabled: true, class: 'bg-red-100 text-red-800 rounded-lg inline-flex p-3' do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
          </svg>
        <% end %>
      <% else %>
        <%= button_to like_path(@post), method: "put", class: 'bg-white text-gray-800 rounded-lg inline-flex p-3' do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
          </svg>
        <% end %>
      <% end %>
      </turbo-frame>
    </div>
  </div>
  <h1 class="mb-4 text-2xl font-semibold text-black dark:text-white mt-9">
    <%= @post.title %>
  </h1>

  <div class="grid items-start grid-cols-1 gap-4 mb-8 lg:grid-cols-3">
    <div class="grid grid-cols-1 gap-4 lg:col-span-2">
      <div class="w-full bg-white rounded-md">
        <div class="px-4 py-4 prose">
          <%= @post.body%>
          <% if @post.cover_image.attached? %>
              <%= image_tag @post.cover_image.variant(resize_to_limit: [800, 400]).processed %>
          <% end %>
        </div>
      </div>
      <div class="flex w-full gap-4">
        <div class="flex-auto px-4 py-2 bg-white rounded-md">
          <div class="flex items-center">
            <%# Image here %>
            <div class="">
              <h3><%= @post.user.name %></h3>
              <p class="text-sm text-gray-400">Developer</p>
            </div>
          </div>
          <% if @post.user.tags.present? %>
            <div class="py-4">
              <h4 class="text-gray-800">Creative fields</h4>
              <div class="flex justify-between mt-1">
                <div class="flex space-x-2">
                  <% @post.user.tags.each do |tag| %>
                    <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-gray-100 text-gray-400">
                      <%= tag.name %>
                    </span>
                  <% end %>
                </div>
              </div>
            </div>
            </div>
          <% end %>
          <div class="flex-auto px-4 py-2 bg-white rounded-md">
            <h2 class="font-semibold">Tools</h2>
            <% if @post.tags.present? %>
              <% @post.tags.each do |tag| %>
                <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-gray-100 text-gray-400">
                <%= tag.name %>
                </span>
              <% end %>
            <% end %>
          </div>
        </div>
    </div>
    <section class="grid grid-cols-1 gap-4">
      <div>
        <div class="">
          <turbo-frame id="comments">
          <ul class="space-y-4">
            <% if @post.comments %>
              <% @post.comments.each do |comment| %>
                <div class="px-2 py-3 text-black bg-white rounded-md">
                  <div class="flex space-x-3">
                    <div class="flex-1">
                      <p class="text-gray-700 text-md">
                        <%= comment.body %>
                      </p>
                    </div>
                  </div>
                  <div class="py-1 mt-4 border-t border-1">
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="flex items-center">
                        <%# <div class="flex-shrink-0 w-10 h-10">
                          <%# Image here %>
                        <%# </div> %>
                        <div class="py-2">
                          <div class="text-sm font-medium text-gray-900">
                            <%= comment.user.name %>
                          </div>
                          <div class="text-sm text-gray-500">
                            <%= comment.created_at.to_date %>
                          </div>
                        </div>
                      </div>
                    </td>
                  </div>
                </div>
              <% end %>
            <% end %>
            <div class="bg-white rounded-md">
              <%= form_with model: @comment, url: new_comment_path(@post.id) do |form| %>
                <div class="flex px-4 py-5 space-x-3">
                  <div class="flex-grow">
                    <%= form.text_area :body, rows: 3, placeholder: 'Wat vind je er van', class: 'shadow-sm focus:ring-gray-500 focus:border-gray-500 block  w-full sm:text-sm border-none rounded-md bg-gray-100 resize-none' %>
                  </div>
                </div>
                <div class="flex flex-row-reverse w-full px-4 pb-4">
                    <%= form.submit nil, class: 'inline-flex items-center px-7 py-2 border border-transparent text-sm rounded-md shadow-sm text-white bg-gray-800 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-700' %>
                </div>
              <% end %>
            </div>
          </ul>
          <% if notice == 'comment aangemaakt' %>
            <script>
              modes.fireworks();
            </script>
          <% end %>
          </turbo-frame>
        </div>
      </div>
    </section>
  </div>
</div>
