<% content_for :head do %>
  <title>PlayCMD | <%= @post.title %></title>
  <meta property="og:title" content="<%= @post.title %>">
  <meta property="og:url" content="https://play.cmdlwd.nl/post/<%= @post.slug %>/public">
  <meta property="og:image" content="<%= @image %>">
  <meta property="og:image:alt" content="<%= @post.title %>">
  <meta property="og:site_name" content="PlayCMD">
  <meta name="twitter:card" content="summary_large_image">
<% end %>

<div class="mx-auto md:flex md:items-center md:justify-between">
  <div class="flex items-center">
    <div>
      <h1 class="text-2xl font-bold text-gray-900">
        <%= @post.title %>
      </h1>
      <% if @post.tags.present? %>
        <p class="text-sm font-medium text-gray-500">Tags:
          <% @post.tags.each do |tag| %>
            <%= link_to tag.name, "/posts/list/#{tag.slug}", class: 'text-gray-900' %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="flex flex-col-reverse mt-6 space-y-4 space-y-reverse justify-stretch sm:flex-row-reverse sm:justify-end sm:space-x-reverse sm:space-y-0 sm:space-x-3 md:mt-0 md:flex-row md:space-x-3">
    <% if is_your_post(@post) %>
      <%= render partial: "posts/components/your_post_options", object: @post %>
       <button id="share_with_parent" class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-white bg-yellow-600 border border-transparent rounded-md shadow-sm hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500" data-url="https://play.cmdlwd.nl/post/<%= @post.slug %>/public">🐎 Share to parents</button>
    <% else %>
      <%= render partial: "posts/components/like_post", object: @post %>
    <% end %>
    <% if is_teacher(current_user) %>
      <%= link_to 'Highlight', highlight_modal_path(@post.slug), data: {turbo: false }, class: 'inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-white bg-gray-600 border border-transparent rounded-md shadow-sm hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500' %>
    <% end %>
     <button id="share_with_student" class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-white bg-green-600 border border-transparent rounded-md shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500">🤓 Share to students</button>
  </div>
</div>

<div class="grid grid-cols-1 gap-6 mx-auto mt-8 lg:grid-flow-col-dense lg:grid-cols-3">
  <div class="space-y-6 lg:col-start-1 lg:col-span-2">
    <!-- Post body -->
    <section aria-labelledby="post-content">
      <div class="p-4 bg-white shadow sm:rounded-lg">
        <%= @post.body %>
      </div>
    </section>

    <!-- Feedback-->
    <%= render partial: "posts/partials/feedback" %>
  </div>

  <section aria-labelledby="Post details" class="lg:col-start-3 lg:col-span-1">
    <%= render partial: "posts/partials/author" %>
  </section>
</div>


<%# PAGE STYLING %>
<style>
  trix-toolbar [data-trix-button-group='history-tools'],
  trix-toolbar [data-trix-button-group='block-tools'] {
    display: none;
  }
  [x-cloak] { display: none !important; }
</style>

<%# PAGE SCRIPTS %>
<% if notice == 'Post aangemaakt' %>
  <script>
      window.onload = function () {
          modes.fireworks();
      };
  </script>
<% end %>

<script>
  document.getElementById("share_with_student").onclick = function() {
    copyURL()
  };

  document.getElementById("share_with_parent").onclick = function() {
    copyDataURL()
  };

    function copyURL(){
      navigator.clipboard.writeText(window.location.href);
      Swal.fire({
          position: 'top-middle',
          icon: 'success',
          title: 'Copied to clipboard',
          showConfirmButton: false,
          timer: 1500
      });
    }

     function copyDataURL(){
      const article = document.getElementById("share_with_parent")
      navigator.clipboard.writeText(article.dataset.url);
      Swal.fire({
          position: 'top-middle',
          icon: 'success',
          title: 'Copied to clipboard, they are proud already',
          showConfirmButton: false,
          timer: 1500
      });
    }
</script>
