<%# TAG SELECTOR %>
<% content_for :tag_selector do %>
  <section id="heading" class="px-4 mx-auto bg-gray-100 shadow-inner dark:bg-mine-shaft-500 sm:px-6 lg:px-8">
    <div class="py-3 mx-auto sm:flex sm:items-center">
      <h3 class="text-xs font-semibold tracking-wide text-gray-500 uppercase dark:text-gray-300">
        Communities
      </h3>
      <div aria-hidden="true" class="hidden w-px h-5 bg-gray-300 sm:block sm:ml-4"></div>

      <div class="mt-2 sm:mt-0 sm:ml-4">
        <div class="flex flex-wrap items-center -m-1">
          <% current_user.tags.each do |tag| %>
            <%= link_to tag_path(tag.slug) do %>
              <span class="m-1 inline-block rounded-full border border-gray-200 items-center py-1.5 pl-3 pr-3 text-sm font-medium bg-white dark:border-tundora-500 dark:bg-tundora-500 dark:text-gray-300 text-gray-900">
                <span><%= tag.name %></span>
                <%# This is for a badge
                  <span class="absolute top-0 right-0 inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-red-100 transform translate-x-1/2 -translate-y-1/2 bg-red-600 rounded-full">2</span>
                %>
              </span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
<% end %>

<div class="flex justify-between w-full flex-gap">
  <h1 class="text-2xl">All users</h1>
</div>

<% if !@users.empty? %>

  <div class="grid grid-cols-1 gap-4 mt-4 md:grid-cols-3">

  <% @users.each do |user| %>
      <div class="flex-auto px-4 py-4 bg-white border rounded-md">
        <div class="flex items-center overflow-hidden">
          <% if user.avatar.attached? %>
            <%= image_tag user.avatar.variant(resize_to_limit: [100, 100], format: :jpeg, sampling_factor: "4:2:0", strip: true, interlace: "JPEG", colorspace: "sRGB", quality: 100), class: 'w-8 h-8 mr-3 rounded-full ' %>
          <% else %>
            <img class="w-8 h-8 mr-3 rounded-full" src="https://ui-avatars.com/api/?name=<%= user.name %>;color=7F9CF5&amp;background=EBF4FF" alt="<%= user.name %>">
          <% end %>
          <div class="">
            <%= link_to profile_path(user.slug) do %>
              <% if is_teacher(user) %>
              Lecturer |
              <% else %>
              Student |
              <% end %>
             <%= user.name %>
            <% end %><br>
            <a href="mailto:<% user.email %>" class="text-sm text-gray-400 truncate"><%= user.email %></a>
          </div>
        </div>
          <div class="py-4">
            <h4 class="text-gray-800 font-bold">Contact</h4>
            <div class="flex justify-between mt-2">
              <ul role="list" class="flex space-x-5">
                <% if user.twitter_username && user.twitter_username.length > 0 %>
                  <li>
                    <a href="https://twitter.com/<%= user.twitter_username %>" class="text-gray-400 hover:text-gray-500">
                      <span class="sr-only">Twitter</span>
                      <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                        <path d="M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0020 3.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.073 4.073 0 01.8 7.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 010 16.407a11.616 11.616 0 006.29 1.84" />
                      </svg>
                    </a>
                  </li>
                <% end %>
                <% if user.github_username && user.github_username.length > 0 %>
                  <li>
                    <a href="https://github.com/<%= user.github_username %>" class="text-gray-400 hover:text-gray-500">
                      <span class="sr-only">GitHub</span>
                      <svg class="w-5 h-5" fill="currentColor" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" data-view-component="true">
                        <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
                      </svg>
                    </a>
                  </li>
                <% end %>
                <% if user.dribbble_url && user.dribbble_url.length > 0 %>
                  <li>
                    <a href="<%= user.dribbble_url %>" class="text-gray-400 hover:text-gray-500">
                      <span class="sr-only">Dribbble</span>
                      <svg class="w-5 h-5" viewBox="0 0 100 100" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><rect width="100" height="100" fill="#000" fill-opacity="0"/><circle cx="50" cy="50" r="48" fill="#fff"/><path fill-rule="evenodd" clip-rule="evenodd" d="M50 0C22.397 0 0 22.397 0 50C0 77.603 22.397 100 50 100C77.5488 100 100 77.603 100 50C100 22.397 77.5488 0 50 0ZM83.026 23.0477C88.9913 30.3145 92.5705 39.5879 92.679 49.6204C91.269 49.3492 77.1692 46.4751 62.961 48.2646C62.6356 47.5597 62.3644 46.8004 62.0391 46.0412C61.1714 43.9805 60.1952 41.8655 59.2191 39.859C74.9458 33.4599 82.1041 24.2408 83.026 23.0477ZM50 7.37527C60.846 7.37527 70.7701 11.4425 78.308 18.1128C77.5488 19.1974 71.0954 27.82 55.9111 33.5141C48.9154 20.6616 41.1605 10.141 39.9675 8.5141C43.167 7.75488 46.5293 7.37527 50 7.37527ZM31.833 11.3883C32.9718 12.9067 40.564 23.4816 47.6681 36.0629C27.7115 41.3774 10.0868 41.269 8.18872 41.269C10.9544 28.0369 19.9024 17.0282 31.833 11.3883ZM7.26681 50.0542C7.26681 49.6204 7.26681 49.1866 7.26681 48.7527C9.11063 48.8069 29.8265 49.0781 51.1388 42.679C52.3861 45.0651 53.5249 47.5054 54.6095 49.9458C54.0672 50.1085 53.4707 50.2712 52.9284 50.4338C30.9111 57.538 19.1974 76.9523 18.2213 78.5792C11.4425 71.0412 7.26681 61.0087 7.26681 50.0542ZM50 92.7332C40.1302 92.7332 31.0195 89.3709 23.8069 83.731C24.5662 82.1584 33.243 65.4555 57.321 57.0499C57.4295 56.9957 57.4837 56.9957 57.5922 56.9414C63.6117 72.5054 66.0521 85.5748 66.7028 89.3167C61.551 91.5401 55.9111 92.7332 50 92.7332ZM73.807 85.4122C73.3731 82.8091 71.0955 70.3362 65.5098 54.9892C78.9046 52.8742 90.6182 56.3449 92.0824 56.833C90.2386 68.7093 83.4056 78.9588 73.807 85.4122Z"/></svg>
                    </a>
                  </li>
                <% end %>
                <% if user.linkedin_url && user.linkedin_url.length > 0 %>
                  <li>
                    <a href="<%= user.linkedin_url %>" class="text-gray-400 hover:text-gray-500">
                      <span class="sr-only">LinkedIn</span>
                      <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                        <path fill-rule="evenodd" d="M16.338 16.338H13.67V12.16c0-.995-.017-2.277-1.387-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248H8.014v-8.59h2.559v1.174h.037c.356-.675 1.227-1.387 2.526-1.387 2.703 0 3.203 1.778 3.203 4.092v4.711zM5.005 6.575a1.548 1.548 0 11-.003-3.096 1.548 1.548 0 01.003 3.096zm-1.337 9.763H6.34v-8.59H3.667v8.59zM17.668 1H2.328C1.595 1 1 1.581 1 2.298v15.403C1 18.418 1.595 19 2.328 19h15.34c.734 0 1.332-.582 1.332-1.299V2.298C19 1.581 18.402 1 17.668 1z" clip-rule="evenodd" />
                      </svg>
                    </a>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <%= will_paginate @users %>
<% else %>
    <h1> Weird, niemand gevonden... </h1>
<% end %>
