<div class="flex justify-between w-full flex-gap">
  <h1 class="text-2xl">All users</h1>
</div>

<% if !@users.empty? %>

  <div class="grid grid-cols-1 gap-4 mt-4 md:grid-cols-3">

  <% @users.each do |user| %>
      <div class="flex-auto px-4 py-4 bg-white rounded-md">
        <div class="flex items-center">
          <% if user.avatar.attached? %>
            <%= image_tag user.avatar.variant(resize_to_limit: [100, 100], format: :jpeg, sampling_factor: "4:2:0", strip: true, interlace: "JPEG", colorspace: "sRGB", quality: 100), class: 'inline w-8 h-8 mr-3 rounded-full' %>
          <% end %>
          <div class="">
              <% if is_teacher(user) %>
              Lecturer |
              <% else %>
              Student |
              <% end %>
            <%= link_to user.name, profile_path(user.slug) %><br/>
            <a href="mailto:<% user.email %>" class="text-sm text-gray-400"><%= user.email %></a>
          </div>
        </div>
        <% if user.tags.present? %>
          <div class="py-4">
            <h4 class="text-gray-800">Creative fields</h4>
            <div class="flex justify-between mt-1">
              <div class="flex space-x-2">
                <% user.tags.each do |tag| %>
                    <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-gray-100 text-gray-400">
                       <%= link_to tag.name, "/people/list/#{tag.slug}" %>
                    </span>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        </div>
    <% end %>
  </div>
  <%= will_paginate @users %>
<% else %>
    <h1> Weird, niemand gevonden... </h1>
<% end %>
