<!DOCTYPE html>
<html>
  <head>
    <title>PlayCmd</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900;&display=swap" rel="stylesheet">

    <script src="//cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="overflow-hidden bg-background dark:darkBackground" x-data="{secretModal: 0}">
    <div class="">
      <% if notice %>
        <%= render partial: "layouts/notice", object: notice %>
      <% end %>
      <% if alert %>
        <%= render partial: "layouts/alert", object: alert %>
      <% end %>
      <div class="flex h-screen bg-gray-100 dark:bg-darkBackground" x-data="{ open: false }">
      <%= render partial: "shared/onboarding_modal" %>
      <%= render partial: "shared/secret_modal" %>
      <%= render partial: "layouts/mobile_navigation" %>

      <div class="hidden md:flex md:flex-shrink-0">
        <%= render partial: "layouts/navigation" %>
      </div>

      <div class="flex flex-col w-full mb-4">
        <div class="px-8">
        <%= render partial: "layouts/header" %>
        </div>
        <div class="flex flex-col px-6 mt-4 overflow-y-auto md:px-8">
          <main class="flex-1 px-6 mt-8 md:px-10 focus:outline-none">
            <%= yield %>
          </main>
          <% if @post && @post.slug %>
            <% if current_page?(controller: 'posts', action: 'highlight_modal', slug: @post.slug) %>
                <%= render partial: "highlight_form", object: @post %>
            <% end %>
          <% end %>
          <footer class="mt-12 mb-5 text-center">
            <p>Version 1.0 &middot; <a href="https://trello.com" target="_blank" class="font-medium underline">Product roadmap</a></p>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
