<!DOCTYPE html>
<html>
  <head>
    <title>PlayCmd</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render partial: "layouts/partials/media" %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <script src="//cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="overflow-hidden bg-background dark:darkBackground" x-data="{secretModal: 0}">
    <div class="">
      <%# Alerts and notices %>
      <%= render partial: "layouts/partials/messages" %>

      <div class="flex h-screen bg-gray-100" x-data="{ open: false }">
      <%# Modals %>
      <%= render partial: "shared/onboarding_modal" %>
      <%= render partial: "shared/secret_modal" %>

      <%# Navigation %>
      <%= render partial: "layouts/partials/mobile_navigation" %>
      <%= render partial: "layouts/partials/navigation" %>
      <div class="flex flex-col w-full mb-4">
        <%# Header %>
        <%= render partial: "layouts/partials/header" %>
        <%= render "layouts/partials/notification" %>

        <div class="flex flex-col px-6 mt-4 overflow-y-auto md:px-8">
          <%# Page content %>
          <main class="flex-1 px-6 mt-8 md:px-10 focus:outline-none">
            <%= yield %>
          </main>

          <%# Hacky highlight modal TODO: Alpine this. %>
          <% if @post && @post.slug %>
            <% if current_page?(controller: 'posts', action: 'highlight_modal', slug: @post.slug) %>
                <%= render partial: "highlight_form", object: @post %>
            <% end %>
          <% end %>

          <%# Footer this is here because of overflow issues :facepalm: %>
          <%= render partial: "layouts/partials/footer" %>
        </div>
      </div>
    </div>
  </body>
</html>
