<!DOCTYPE html>
<html>
  <head>
    <title>PlayCmd</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-background">
    <div class="container md:py-8">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <div class="grid grid-cols-3 gap-6 bg-gray-200">
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <%= link_to "People", people_path %>
      </div>
      <div class="flex items-stretch flex-1 overflow-hidden">
        <main
          class="flex-1 px-6 mt-8 overflow-scroll md:px-10 focus:outline-none"
        >
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
