<!DOCTYPE html>
<html>
  <head>
    <title>PlayCmd</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<<<<<<< HEAD
    <%= stylesheet_link_tag "tailwind", "inter-font" %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload"  %>
    <%= javascript_pack_tag 'application', defer: true %>
=======
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
>>>>>>> cedf11736d3a7c62427ebed59233146011d989c8
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      <%= yield %>
  </body>
</html>
